<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>{$lang->BeGateway}</name>
	<settings>
		<variable>shop-id</variable>
		<name>{$lang->shop-id}</name>
	</settings>
	<settings>
		<variable>secret-key</variable>
		<name>{$lang->secret-key}</name>
	</settings>
	<settings>
		<variable>domain-gateway</variable>
		<name>{$lang->domain-gateway}</name>
	</settings>
	<settings>
		<variable>domain-checkout</variable>
		<name>{$lang->domain-checkout}</name>
	</settings>
	<settings>
		<variable>transaction_type</variable>
		<name>{$lang->transaction_type}</name>
		<options>
			<name>{$lang->payment}</name>
			<value>payment</value>
		</options>
		<options>
			<name>{$lang->authorization}</name>
			<value>authorization</value>
		</options>
	</settings>
	<settings>
		<variable>enable_bankcard</variable>
		<name>{$lang->enable_bankcard}</name>
		<options>
			<name>{$lang->yes}</name>
			<value>1</value>
		</options>
		<options>
			<name>{$lang->no}</name>
			<value>0</value>
		</options>
	</settings>
	<settings>
		<variable>enable_bankcard_halva</variable>
		<name>{$lang->enable_bankcard_halva}</name>
		<options>
			<name>{$lang->no}</name>
			<value>0</value>
		</options>
		<options>
			<name>{$lang->yes}</name>
			<value>1</value>
		</options>
	</settings>
	<settings>
		<variable>enable_erip</variable>
		<name>{$lang->enable_erip}</name>
		<options>
			<name>{$lang->no}</name>
			<value>0</value>
		</options>
		<options>
			<name>{$lang->yes}</name>
			<value>1</value>
		</options>
	</settings>
	<settings>
		<variable>erip_service_no</variable>
		<name>{$lang->erip_service_no}</name>
	</settings>
	<settings>
		<variable>payment_valid</variable>
		<name>{$lang->payment_valid}</name>
		<value>60</value>
	</settings>
	<settings>
		<variable>show-transaction-table</variable>
		<name>{$lang->show-transaction-table}</name>
		<options>
			<name>{$lang->yes}</name>
			<value>1</value>
		</options>
		<options>
			<name>{$lang->no}</name>
			<value>0</value>
		</options>
	</settings>
	<settings>
		<variable>mode</variable>
		<name>{$lang->mode}</name>
		<options>
			<name>{$lang->test}</name>
			<value>test</value>
		</options>
		<options>
			<name>{$lang->live}</name>
			<value>live</value>
		</options>
	</settings>

	<settings>
		<variable>debug</variable>
		<name>{$lang->debug}</name>
		<options>
			<name>{$lang->no}</name>
			<value>0</value>
		</options>
		<options>
			<name>{$lang->yes}</name>
			<value>1</value>
		</options>
	</settings>




</module>
